/* Estilo minimalista con colores neutros */

h1 {
    text-align: center;
    color: #000
    
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px auto;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #007bff;
    color: #fff;
}

tfoot input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

tfoot button {
    padding: 10px 20px;
    background-color: #28a745;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 4px;
}

tfoot button:hover {
    background-color: #218838;
}

#popUp {
    display: none;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
}

#popUp h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

#popUp table {
    width: 100%;
}

#popUp input {
    width: calc(100% - 20px);
    padding: 8px;
    margin: 6px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

#popUp button {
    padding: 10px 20px;
    background-color: #007bff;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 4px;
}

#popUp button:hover {
    background-color: #0069d9;
}

